.header {
    grid-area: header;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E8EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.header .logo {
  display: flex;
  margin-left: 20px;
}

  .header .logo img {
    width: 20px;
    height: 20px;
  }
  
  .loginBlock {
    margin-right: 20px;
  }

  .loginBlock button {
    color: #3B4153;
    font-family: 'Poppins', serif;
  }

  .loginBlock a {
    color: #3B4153;
  }

  .loginName {
    color: #3B4153;
  }