.dialogs {
    width: 90%;
    border: 1px solid #E7E8EA;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messageButton button {
    font-family: 'Poppins', serif;
    color: #3B4153;
}